@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
*{
    margin: 0px;
    padding: 0px;
}


.navbar{
    background-color: rgba(0, 0, 0, 0.639);
    display: flex;
    justify-content: space-between;
    padding: 24px;
    padding-left: 10%;
    padding-right: 10%;
    align-items: center;
}
.logo{
    width: 40px;
    padding-right: 12px;
}
.judul{
    color:white;
    font-weight: bolder;
}
.menu-nav{
    margin-top: 20px;
    background-color: red;
    padding: 6px 20px;
    border-radius: 6px;
}
.menu-nav a{
    text-decoration: none;
    color: white;
}
.menu-nav:hover{
    background-color: rgb(205, 1, 1); 
}
.header img{
    margin-top: -300px;
    position: relative;
    z-index: -1;


}
